@model IEnumerable<CapaEntidad.Producto>

@{
    ViewBag.Title = "Mostrar Datos";
}

<h2>Mostrar Datos</h2>

<p class="text-center">
    <a title="Añadir nuevo Formulario" href="/Producto/Formulario"><img src="~/Imgenes/add.png" width="40" alt="add" /></a>
</p>

<form action="/Producto/Buscador">
    <img src="~/Imgenes/lupa.png" align="left" width="30" alt="Alternate Text" />

    <input type="text" name="nombre" class="form-control  " />
    <p class="container-fluid">
        <button type="submit" class="btn btn-info">Buscar</button>
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Productoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Productoid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
    <td>
        @Html.ActionLink("Editar", "Actualizar", new { id = item.Productoid }) |
        @Html.ActionLink("Eliminar", "Borrar", new { id = item.Productoid })
    </td>
</tr>
}

</table>
